# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/static-app/node_modules
/apps/static-app/public
/apps/static-app/.cache

/apps/static-app/node_modules
/apps/static-app/public
/apps/static-app/.cache
